
#root {
  width: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.input-bar label {
  background-color: #000000;
  color: rgb(19, 167, 0);
}

.found-div {
  display: flex; 
  justify-content: space-around; 
  flex-wrap: nowrap;
  background-color: rgb(46, 46, 46);
  border: 1px solid rgb(43, 175, 10);   
  min-height: 200px; 
  min-width: 800px;
  margin-top: 20px;
  text-align: center;
}


body {
  background-color: rgb(0, 0, 0);
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: rgb(43, 175, 10);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-wrapper {
  display: inline-block;
}

.search-input {
  width: 500px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  outline: none;
}

.input-bar {
  display: flex;
  justify-content: center;
}

.input-bar input {
  background: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid rgb(43, 175, 10);
    outline: none;
}

.search-submit {
  margin-left: 10px;
  cursor: pointer;
}

.heroValue-submit {
  background: #fff;
    padding: 10px 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgb(43, 175, 10);
    outline: none;
    cursor: pointer;
}